 .u-section-1 {
  min-height: 1305px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 653px;
  --effect-scale: 1.25;
}

.u-section-1 .u-image-1 {
  background-image: url("images/WhatsAppImage2024-02-20at7.39.49PM.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 652px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/WhatsAppImage2024-02-20at11.34.05PM.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 476px;
  --effect-scale: 1.25;
}

.u-section-1 .u-image-3 {
  background-image: url("images/WhatsAppImage2024-02-20at11.34.10PM.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 489px;
}

.u-section-1 .u-image-4 {
  background-image: url("images/WhatsAppImage2024-02-20at11.33.49PM.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 340px;
}

.u-section-1 .u-image-5 {
  background-image: url("images/WhatsAppImage2024-02-20at7.39.51PM.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 652px;
}

.u-section-1 .u-image-6 {
  background-image: url("images/WhatsAppImage2024-02-20at11.33.41PM.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 652px;
}

.u-section-1 .u-image-7 {
  background-image: url("images/WhatsAppImage2024-02-20at7.39.59PM.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1076px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 538px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 538px;
  }

  .u-section-1 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 392px;
  }

  .u-section-1 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 403px;
  }

  .u-section-1 .u-layout-cell-5 {
    background-position: 50% 50%;
    min-height: 280px;
  }

  .u-section-1 .u-layout-cell-6 {
    background-position: 50% 50%;
    min-height: 538px;
  }

  .u-section-1 .u-layout-cell-7 {
    background-position: 50% 50%;
    min-height: 538px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 3708px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 618px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 618px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 450px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 463px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 322px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 1236px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 1236px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 927px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 927px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 675px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 695px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 483px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 927px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 927px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2336px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 584px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 584px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 425px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 438px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 304px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 584px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 584px;
  }
} .u-section-2 {
  min-height: 460px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 460px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/WhatsAppImage2024-02-20at7.39.49PM1.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/WhatsAppImage2024-02-20at7.40.02PM.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 460px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/WhatsAppImage2024-02-20at7.39.57PM.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 460px;
}

.u-section-2 .u-image-4 {
  background-image: url("images/WhatsAppImage2024-02-20at7.39.49PM.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 379px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -11px;
    margin-bottom: -11px;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 379px;
  }

  .u-section-2 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 379px;
  }

  .u-section-2 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 379px;
  }

  .u-section-2 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 379px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 971px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 486px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 486px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 486px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 486px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 2030px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 729px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 729px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 729px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 729px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1325px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 459px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 459px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 459px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 459px;
  }
}